body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

hr {
    border: 0;
}

/* --------------------------NAV-BAR-Start------------------------------- */

.nav-bar {
    background-image: url(images/fancy-pants.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    grid-template-columns: 300px 1fr;
}

/* -----------LOGO------------------ */

.nav-bar .logo {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.nav-bar img {
    width: 100px;
    height: auto;
    padding: 20px;
}

.nav-bar .logo h1 {
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
    width: 30%;
    height: auto;
    text-align: center;
    font-size: medium;
}

/* -----------MENUE------------------ */

.menue {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

.menue .sith p {
    width: auto;
    height: fit-content;
    font-size: medium;
}

.menue .jedi p {
    width: auto;
    height: fit-content;
    font-size: medium;
}

.menue .rebels p {
    width: auto;
    height: fit-content;
    font-size: medium;
}

.menue .empire p {
    width: auto;
    height: fit-content;
    font-size: medium;
}

.sith a {
    text-decoration: underline 7px rgb(241, 15, 15);
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}

.jedi a {
    text-decoration: underline 7px rgb(255, 255, 255);
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}

.rebels a {
    text-decoration: underline 7px rgb(241, 15, 15);
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}

.empire a {
    text-decoration: underline 7px rgb(255, 255, 255);
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}

.menue p {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: rgb(205, 210, 214);
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: bold;
}

.menue a:hover {
    color: rgb(148, 138, 145);
}

/* --------------------------NAV-BAR-End------------------------------- */
/* -----hr----- */
/* --------------------------Main-Start------------------------------- */

/* -----------------top-main-------------------- */
.top-main {
    background-image: url(images/WallpaperDog.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: auto;
}

.top-main img {
    border-radius: 40px;
    width: 100%;
    height: auto;
}

.red {
    background-image: linear-gradient(to right, rgba(226, 0, 0, 0.151), rgba(90, 53, 53, 0));
    margin: 20px;
}

.blue {
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.151), rgba(29, 9, 211, 0));
    margin: 20px;

}

.brown {
    background-image: linear-gradient(to right, rgba(101, 85, 65, 0.400), rgba(236, 221, 9, 0));
    margin: 20px;

}

.yellow {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.151), rgba(189, 189, 189, 0));
    margin: 20px;

}

/* -----------------Media Q-------------------- */

@media screen and (min-width: 600px) and (max-width:900px) {
    .top-main {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 599px) {
    .top-main {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* -----------------Middle-main-------------------- */
.middle-main {
    background-image: url(images/fancy-pants.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
}

.middle-main p {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
    font-size: x-large;
    margin: 0;
}

/* -----------------Bottom-main-------------------- */

.bottom-main {
    background-image: url(images/pattern.png);
    background-size: contain;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "welcome latest-works flexible-pages"
        "welcome our-products flexible-pages";
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
}

.welcome {
    grid-area: welcome;
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

.latest-works {
    grid-area: latest-works;
}

.our-products {
    grid-area: our-products;
}

.flexible-pages {
    grid-area: flexible-pages;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 0;
}

video {
    width: 100%;
    height: auto;
}

.bottom-main h2 {
    color: rgb(255, 61, 2);
    text-transform: uppercase;
    font-weight: bolder;
}

.bottom-main span {
    color: rgba(0, 0, 0, 0.658);
    font-weight: bold;
}

.iframe-video {
    position: relative;
    width: 100%;
    height: 100%;
}

/* -----------------Media Q-------------------- */

@media screen and (min-width: 600px) and (max-width:900px) {
    .bottom-main {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        grid-template-areas: "welcome latest-works latest-works"
            "welcome our-products our-products"
            "flexible-pages flexible-pages flexible-pages";
    }

}

@media screen and (max-width: 599px) {
    .bottom-main {
        display: flex;
        flex-flow: column;
    }

    .welcome {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

/* -----------------Footer-------------------- */

/* footer {
    background-image: url(images/WallpaperDog.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
} */

.container {
    background-image: url(images/WallpaperDog.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: aliceblue;
    gap: 15px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;

}

.container h3 {
    font-family: 'Coustard', serif;
    font-weight: lighter;
    font-size: x-large;
    text-transform: capitalize;
    width: 100%;
    height: auto;
    inline-size: 200px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contact-details span {
    margin-left: 20px;
    font-weight: lighter;
    font-size: large;
    width: fit-content;

}

.contact-us {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contact-us span {
    display: block;
}

.email {
    margin-bottom: 40px;
}

/* .perso4 {
    max-width: 100%;
    height: auto;
} */

.widget {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* -----------------Media Q-------------------- */

@media screen and (min-width: 600px) and (max-width:900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        padding: 20px;
    }

}

@media screen and (max-width: 599px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
}


/* -------------Input------------- */
/* input[type=textarea] {
    height: 100px;
    text-align: start;
}

input[type=submit] {
    background-color: rgba(255, 255, 255, 0.774);
    border: 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    height: 30px;
    font-size: larger;
}

textarea {
    background-color: rgba(255, 255, 255, 0.767);
} */